@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  user-select: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Merriweather', serif;
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  background: $color-gray-01;
}
