$color-black-01: #000000;
$color-black-02: #343030;
$color-gray-01: #E5E5E5;
$color-gray-02: #ECEAEA;
$color-gray-03: #E1E1E1;
$color-gray-04: #A0A0A0;
$color-white-01: #ffffff;
$color-white-02: #F4F6F9;
$color-brown-01: #403432;
$color-brown-02: #776763;
$color-brown-03: #5B3A32;
$color-brown-04: #555555;

$animation-time-01: 0.15s;
$animation-time-02: 0.2s;
$animation-time-03: 0.3s;
$animation-easing: cubic-bezier(0.5, 0, 0.5 ,1);
